/* CSS FILE FOR SIMPLE SIMON GAME */
body {
	background-color: #f2ebe6;
	font-family: 'Quicksand', sans-serif;
}
.btn-large{
	background-color: #C4E356;
	color: white;
}
h1{
	font-size: 55px;
}
#top{
	width: 350px;
}
#bottom{
	width: 140px;
	padding: 5px;
}
.currentLevel {
	color: white;
}
.box {
	height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	padding:0;
	position: relative;
}
#red {
	background-color: #00bfaf;
	opacity: .5;
	border-radius: 60px;
}
#blue {
	background-color: #fd8a5e;
	opacity: .5;
	border-radius: 60px;
}
#yellow {
	background-color: #e0e300;
	opacity: .5;
	clear: left;
	border-radius: 60px;
}
#green {
	background-color: #ff598f;
	opacity: .5;
	border-radius: 60px;
}
