/* CSS FILE FOR SIMPLE SIMON GAME */
body {
	background-color: #f2ebe6;
	background-image: url("/img/symphony.png");
	font-family: 'Quicksand', sans-serif;
}
.btn-large{
	background-color: #C4E356;
	color: white;
}
h1{
	font-size: 55px;
}
#youlost{
	display: none;
	background-color:#00bfaf;
	width: 320px;
	height: 350px;
	position: fixed;
	border-radius: 60px;
	}
#ryanimg{
	display: none;
	width: 320px;
	height: 350px;
	position: fixed;
	border-radius: 60px;
	z-index:2;
}
#top{
	width: 350px;
}
#bottom{
	width: 140px;
	padding: 5px;
}
.currentLevel {
	color: white;
}
.box {
	height: 150px;
	width: 150px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	padding:0;
	opacity: .4;
	border-radius: 60px;
	position: relative;
}
#red {
	background-color: #00bfaf;
}
#blue {
	background-color: #fd8a5e;
}
#yellow {
	background-color: #e0e300;
	clear: left;
}
#green {
	background-color: #ff598f;
}