/* CSS FILE FOR SIMPLE SIMON GAME */
body {
	background-color: #D3D3D3;
}
#top{
	width: 350px;
}
#bottom{
	width: 160px;
}
.currentLevel {
	color: white;
}
.box {
	height: 150px;
	width: 150px;
	border: 2px solid black;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
	padding:0;
	position: relative;
}
#red {
	background-color: red;
	opacity: .5;
	border-radius: 60px;
}
#blue {
	background-color: blue;
	opacity: .5;
	border-radius: 60px;
}
#yellow {
	background-color: yellow;
	opacity: .5;
	clear: left;
	border-radius: 60px;
}
#green {
	background-color: green;
	opacity: .5;
	border-radius: 60px;
}




